@import "tailwindcss";

@import "./clerk.css";

:root {
  --sidebar-bg: #171717;
  --main-bg:#212121;
  --accent: #5856d6;
  --text-primary: #ffffff;
  --text-secondary: #f3f3f3;
  --text-muted: #afafaf;
  --input-bg: #2f2f2f;
  --hover-bg: #2f2f2f;
}

@theme inline {
  --color-sidebar-bg: var(--sidebar-bg);
  --color-main-bg: var(--main-bg);
  --color-accent: var(--accent);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
  --color-input-bg: var(--input-bg);
  --color-hover-bg: var(--hover-bg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--main-bg);
  color: var(--text-primary);
  font-family: ui-sans-serif, -apple-system, "system-ui", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #565656;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #787878;
}
